.funcoes {
    color: #007BFF;
}

.funcoes:hover {
    color: white;
    background-color: #007BFF;
}

.int-titulo {
    background-color: #007BFF;
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

