.login-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.login-logo {
    width: 180px;
}

.login-titulo {
    font-size: 1.6rem;
    color: #4b4a4a;
    font-weight: bold;
    text-align: center;
}

.login-form {
    padding: 0 40px;
    height: 250px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login-grupo-botao {
    display: flex;
    justify-content: center;
}

.login-botao {
    margin-top: 50px;
    width: 150px;
    padding: 10px;
}

.login-label {
    margin: 0;
    margin-top: 20px;
    color: gray;
    font-size: 0.9rem;
   }


.login-input {
    margin: 0;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    width: 100%;

}

.login-grupo {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

