
    .maiusculas {
        text-transform:uppercase
    }

    .minusculas {
        text-transform:lowercase
    }
    .erp-radio {
        -ms-transform: scale(2); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
    }
    .mensagemCPF {
        color: red;
        font-weight: bold;
    }