.intra-container {
    width: 90%;
    background: linen;
    margin: 0 auto;
}

.intra-card {
    background: white;
    border-radius: 5px;
    width: 96%; 
    height: 100%;
    margin-top: 10px;
    padding: 15px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
    color: '#212529';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.intra-card-contato {
    background: white;
    border-radius: 5px;
    width: 96%; 
    /* height: 100%; */
    margin-top: 10px;
    padding: 15px;
    font-size: 1em;
    /* font-weight: 400;
    line-height: 1.5; */
    color: '#212529';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.logo-intra {
    height: 60px;
    background: rgb(246, 243, 243);
    /* width: 100%; */
    border-radius: 5px;
    border: 1px solid red;
    margin-top: 0;
    /* box-shadow: 5px 5px 5px rgb(150, 149, 149); */
    box-shadow: 5px 5px 5px 0.1px rgba(48, 44, 44, 0.5), 0 6px 20px 0 rgba(48, 44, 44, 0.3)
}

.navbar-custom { 
    background-color: linear-gradient(to right, darkgrey, lightgrey);
    background-image: url('../img/predios.png') !important; 
    /* background-image: linear-gradient(to left, darkgrey, lightgrey); */
    background-repeat: repeat-x;
    background-position: bottom;
    color: white !important;
}

.navbar-rodape { 
    background-image: url('../img/predios.png') !important; 
    background-repeat: repeat-x;
    background-position: bottom right;
    height: 25px;
    width: 100%;
}


.container-botao-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-menu {
    /* width: 40px;
    height: 18px; */
    width: 50%;
    height: 100%;
    text-align: center;

}

/* .navbar-toggle {
    color: white !important;
    background-color: red !important;
    margin: 0 !important;
    padding: 0 !important;
} */

.intra-card__ramais {
    padding: 0;
}

.intra-card__empreend {
    width: 100%;
    height: 100%;
}

.intra-card__barra {
    background: steelblue;
    border-radius: 5px;
    padding: 1px;
}

.intra-card__titulo {
    color: white;
    margin-left: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.intra-card__date {
    color: white;
    margin-left: 5px;
    font-size: 0.5em;
}

.intra-body-aniv {
    display: flex;
    padding-top: 10px;
}

.intra-body-aniv__img {
    flex: 3;
}

.intra-body-aniv__text {
    flex: 7;
}

.intra-flex-center {
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.intra-flex-center__top0 {
    margin: 0px auto;
}

.intra-body-aniv__nome {
    font-size: '1.3em';
    font-weight: bold;
}

.intra-body-aniv__local {
    font-size: 0.6em;
}

.intra-body-aniv__date {
    font-size: 0.8em;
}

.intra-body-aniv__parabens {
        font-size: 1.5em;
        color: #00CC00;
        font-weight: bold;
}

.intra-card__texto {
    text-align: justify;
}

.intra-img-all {
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.intra-img-small {
    width: 100%;
    min-width: 50px;
    max-width: 150px;
    height: 100%;
    margin-right: 15px;
    margin-top: 15px;
}

.intra-img-empreend {
    width: 100%;
    height: 100%;
    max-width: 150px;
}

.intra-flex3 {
    flex: 3;
}

.intra-flex4 {
    flex: 4;
}

.intra-flex5 {
    flex: 5;
}

.intra-flex6 {
    flex: 6;
}

.intra-flex7 {
    flex: 7;
}

.table-cub-periodo {
    width: 800px;
    font-size: 1rem;
    display: flex;
}

.table-cub-periodo th:nth-child(1),
.table-cub-periodo td:nth-child(1) {
    flex: 20; 
    text-align: center;
}

.table-cub-periodo th:nth-child(2),
.table-cub-periodo td:nth-child(2) {
    flex: 20; 
    text-align: center;
}
.table-cub-periodo th:nth-child(3),
.table-cub-periodo td:nth-child(3) {
    flex: 20; 
    text-align: center;
}
.table-cub-periodo th:nth-child(4),
.table-cub-periodo td:nth-child(4) {
    flex: 20; 
    text-align: center;
}
.table-cub-periodo th:nth-child(5),
.table-cub-periodo td:nth-child(5) {
    flex: 20; 
    text-align: center;
}

.table-cub-periodo__cabecalho {
    background: grey;
    color: white;
}

.efeito {
    transition: all 0.3s;
}

@media(max-width: 1200px) {

    .intra-container {
        width: 90%;
    }
}

@media(max-width: 1024px) {

    .intra-container {
        width: 98%;
    }

    .intra-body-aniv__parabens {
        font-size: 1.5em;
    }

    .table-cub-periodo {
        width: 600px;
    }

}

.cub-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-weight: bold;
    color: #686868;
}

.cub-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.cub-linhas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid darkgrey;
    padding: 5px 1px 5px 10px;
    border-bottom: 1px solid darkgrey;
    font-size: 1.2rem;
}

@media(max-width: 800px) {

    nav {
        border-radius: 0px;
    }
    
    .intra-container {
        width: 100%;
    }

    .intra-card {
        font-size: 1.2em;
    }

    .intra-card__titulo {
        font-size: 1.2em;
    }

    .intra-body-aniv__parabens {
        font-size: 1.1em;
    }

    .cub-linhas {
        flex-direction: column;
    }

    .table-cub-periodo {
        width: 320px;
        font-size: 0.9rem;
        display: flex;
    }

    .table-cub-periodo th:nth-child(3),
    .table-cub-periodo td:nth-child(3) {
        flex: 10; 
        text-align: center;
    }

    .table-cub-periodo th:nth-child(5),
    .table-cub-periodo td:nth-child(5) {
        flex: 10; 
        text-align: center;
    }

}
